{% extends 'layout.html' %}

{% block title %}{{ global.siteTitle }}{% endblock %}

{% block content %}
<div class="index-jumbotron">
  <div class="container">
    <h1>{{ global.siteTitle }}</h1>
    <p>{{ global.siteDescription }}</p>
  </div>
</div>
<div class="container">
  <h2 class="index-title">开放点餐的餐馆</h2>
  <div class="row">
    {% if restaurants.length > 0 %}
    <ul class="list-unstyled col-md-6">
      {% for restaurant in restaurants %}
        <li>
          <h3><a href="/restaurant/{{ restaurant._id.toString() }}">{{ restaurant.name }}</a></h3>
        </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="col-md-6">我去，居然没一家餐馆可以点餐! 难道是没到饭点?</p>
    {% endif %}
  </div>
</div>
{% endblock %}