{% extends 'layout.html' %}

{% block title %}我的订单{% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
	  <h1>我的订单</h1>
	</div>
	<ol class="breadcrumb">
	  <li><a href="/">首页</a></li>
	  <li class="active">我的订单</li>
	</ol>
	{% for order in orders %}
	{% if order.status === 'new' %}
	<div class="panel panel-primary">
	{% elseif order.status === 'paid' %}
	<div class="panel panel-info">
	{% elseif order.status === 'success' %}
	<div class="panel panel-default">
	{% else %}
	<div class="panel panel-default">
	{% endif %}
      <div class="panel-heading">
		<h3 class="panel-title">
			<strong class="my-orders-day">{{ order.day }}</strong>
			<i class="my-orders-restaurant"><span class="glyphicon glyphicon-home"></span> {{ order.restaurantName }}</i></h3>
      </div>
      <div class="panel-body">
		<div class="my-orders-meal row">
			<div class="col-md-7">
				<span class="glyphicon glyphicon-cutlery"></span> {{ order.meal }}
			</div>
			<div class="col-md-2">
				{{ order.price }}
			</div>
			<div class="col-md-3">
				{% if order.status === 'new' %}
				<a data-id="{{ order._id.toString() }}" data-toggle="modal" data-target="#modal-pay" href="#"  class="btn btn-primary btn-sm">付款</a>
				<a data-id="{{ order._id.toString() }}" data-toggle="modal" data-target="#modal-cancel" href="#"  class="btn btn-info btn-sm">取消订单</a>
				{% elseif order.status === 'paid' %}
				<span class="text-muted"><span class="glyphicon glyphicon-yen"></span> 已付款</span>
				{% elseif order.status === 'success' %}
				<span class="text-success"><span class="glyphicon glyphicon-check"></span> 订餐完成</span>
				{% endif %}
			</div>
		</div>
      </div>
    </div>
	{% endfor %}
</div>
{% endblock %}
{% block script %}
<div id="modal-pay" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">付款</h4>
      </div>
      <div class="modal-body">
        <p class="text-info text-center">推荐使用手机支付宝钱包APP扫码下面的付款码付款</p>
        <p class="text-danger text-center">付款完成后记得通知管理员确认收款</p>
        <img class="center-block" src="/img/alipay.jpg" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="confirm-pay" type="button" class="btn btn-primary">确认付款</button>
      </div>
    </div>
  </div>
</div>
<div id="modal-cancel" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确定取消订单吗？</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="confirm-cancel" type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<script>
	$(function () {
		var id = '';
		$('#modal-pay').on('show.bs.modal', function (event) {
			id = $(event.relatedTarget).data('id');
		}).on('click', '#confirm-pay', function () {
			$.ajax({
				url: '/order/ajax_pay/' + id,
				dataType: 'jsonp'
			}).done(function (data) {
				$('#modal-pay').modal('hide');
				window.location.reload(true);
			});
		});
		
		$('#modal-cancel').on('show.bs.modal', function (event) {
			id = $(event.relatedTarget).data('id');
		}).on('click', '#confirm-cancel', function () {
			$.ajax({
				url: '/order/ajax_cancel_order/' + id,
				dataType: 'jsonp'
			}).done(function (data) {
				$('#modal-pay').modal('hide');
				window.location.reload(true);
			});
		});
	});
</script>
{% endblock %}
