{% extends 'layout.html' %}

{% block title %}订单管理{% endblock %}

{% block style %}
<link rel="stylesheet" href="/lib/bootstrap-datepicker/css/bootstrap-datepicker3.min.css">
{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
		  <h1>订单管理</h1>
		</div>
		<ol class="breadcrumb">
		  <li><a href="/admin">管理首页</a></li>
		  <li class="active">订单管理</li>
		</ol>
		<form class="form-inline">
		  <div class="form-group">
		    <label for="order-form-day">日期</label>
		    <div class="input-group date">
			  <input type="text" class="form-control" value="{{ day }}" name="day" readonly /><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
			</div>
		  </div>
		  <button type="submit" class="btn btn-default">查询</button>
		</form>
		<p>
			一共{{ orders.length }}个订单 
			<span class="text-muted glyphicon glyphicon-question-sign"></span>未付款 
			<span class="text-danger glyphicon glyphicon-yen"></span>已付款 
			<span class="text-success glyphicon glyphicon-check"></span>交易完成 
		</p>
		<table id="table-menu" class="table">
		  <thead>
			  <th>订单状态</th>
			  <th>用户</th>
			  <th>餐馆</th>
			  <th>餐名</th>
			  <th>价格</th>
			  <th>时间</th>
			  <th>操作</th>
		  </thead>
		  <tbody>
			  {% for order in orders %}
			  <tr>
				  <td class="order-status">
					  {% if order.status === 'new' %}
					  <span class="text-muted glyphicon glyphicon-question-sign"></span>
					  {% elseif order.status === 'paid' %}
					  <span class="text-danger glyphicon glyphicon-yen"></span>
					  {% elseif order.status === 'success' %}
					  <span class="text-success glyphicon glyphicon-check"></span>
					  {% endif %}
				  </td>
				  <td>{{ order.user }}</td>
				  <td>{{ order.restaurantName }}</td>
				  <td class="text-info"><span class="glyphicon glyphicon-cutlery"></span> {{ order.meal }}</td>
				  <td>{{ order.price }}</td>
				  <td>{{ order.time }}</td>
				  <td>
					  {% if order.status === 'new' %}
					  <a data-id="{{ order._id.toString() }}" data-toggle="modal" data-target="#modal-cancel" href="#"  class="btn btn-default btn-sm">取消订单</a>
					  {% elseif order.status === 'paid' %}
  					  <a data-id="{{ order._id.toString() }}" data-user="{{ order.user }}" data-money="{{ order.price }}" data-toggle="modal" data-target="#modal-paid" href="#"  class="btn btn-primary btn-sm">确认付款</a>
					  {% elseif order.status === 'success' %}
					  <small class="text-success"><span class="glyphicon glyphicon-check"></span> 订餐完成</small>
					  {% endif %}
				  </td>
			  </tr>
			  {% endfor %}
		  </tbody>
		</table>
	</div>
{% endblock %}
{% block script %}
<script src="/lib/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/lib/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<div id="modal-paid" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确认收款</h4>
      </div>
      <div class="modal-body">
        <div class="text-info"><span class="glyphicon glyphicon-exclamation-sign"></span> 确认收到<span data-role="user" class="text-danger"></span>的<span data-role="money" class="text-danger"></span>块钱吗？</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="confirm-pay" type="button" class="btn btn-primary">确认收款</button>
      </div>
    </div>
  </div>
</div>
<div id="modal-cancel" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">确定取消订单吗？</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="confirm-cancel" type="button" class="btn btn-primary">确定</button>
      </div>
    </div>
  </div>
</div>
<script>
	$(function () {
		var id = '';
		$('#modal-paid').on('show.bs.modal', function (event) {
			var $modal = $(this);
			$modal.find('[data-role=user]').text($(event.relatedTarget).data('user'));
			$modal.find('[data-role=money]').text($(event.relatedTarget).data('money'));
			id = $(event.relatedTarget).data('id');
		}).on('click', '#confirm-pay', function () {
			$.ajax({
				url: '/admin/ajax_confirm_pay/' + id,
				dataType: 'jsonp'
			}).done(function (data) {
				$('#modal-paid').modal('hide');
				window.location.reload(true);
			});
		});
		
		$('#modal-cancel').on('show.bs.modal', function (event) {
			id = $(event.relatedTarget).data('id');
		}).on('click', '#confirm-cancel', function () {
			$.ajax({
				url: '/order/ajax_cancel_order/' + id,
				dataType: 'jsonp'
			}).done(function (data) {
				$('#modal-cancel').modal('hide');
				window.location.reload(true);
			});
		});
		
		$('.input-group.date').datepicker({
		    format: "yyyy-mm-dd",
		    endDate: '0d',
		    language: "zh-CN",
		    autoclose: true,
		    todayHighlight: true
		});
	});
</script>
{% endblock %}
