{% extends 'layout.html' %}

{% block title %}{{ restaurant.name }}{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
		  <h1>{{ restaurant.name }}</h1>
		</div>
		<ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li class="active">{{ restaurant.name }}</li>
		</ol>
		<ul id="menu" class="list-unstyled">
			{% for meal in restaurant.menu %}
			<li>
				<div class="panel panel-info">
	              <div class="panel-heading">
	                <h2 class="panel-title"><span class="glyphicon glyphicon-cutlery"></span> {{ meal.name }}</h2>
	              </div>
	              <div class="panel-body">
					<div class="row">
						<div class="col-xs-11 col-md-11">价格: ￥{{ meal.price }}</div>
						<div class="col-xs-1 col-md-1">
							<a data-meal="{{ meal.name }}" data-price="{{ meal.price }}" data-role="btn-order" class="btn btn-primary btn-sm">点餐</a>
						</div>
					</div>
	              </div>
	            </div>
			</li>
			{% endfor %}
		</ul>
		
		<form id="form-order" action="/restaurant/order" method="post">
			<input id="restaurant-id" type="hidden" name="restaurantId" value="{{ restaurant._id.toString() }}" />
			<input id="meal" type="hidden" name="meal" />
			<input id="price" type="hidden" name="price" />
		</form>
	</div>
{% endblock %}
{% block script %}
<script>
	$(function () {
		$('#menu').on('click', 'a[data-role=btn-order]', function () {
			var $target = $(this);
			var meal = $target.data('meal');
			var price = $target.data('price');
			
			var $form = $('#form-order');
			$form.find('#meal').val(meal);
			$form.find('#price').val(price);
			$form.submit();
		});
	});
</script>
{% endblock %}